@import '../../../../vendor/filament/filament/resources/css/theme.css';

@source '../../../../app/Filament/**/*';
@source '../../../../resources/views/filament/**/*';

@source '../../../../vendor/bezhansalleh/filament-panel-switch/resources/views/**/*.blade.php';

.row-group-lvl-1 {
    background-color: var(--color-gray-400);
    font-weight: var(--font-weight-bold);
    --spacing: .18rem;
}
.row-group-lvl-2 {
    background-color: var(--color-gray-300);
    font-weight: var(--font-weight-semibold);
    --spacing: .18rem;
}
.row-group-lvl-3 {
    background-color: var(--color-gray-200);
    font-weight: var(--font-weight-semibold);
    --spacing: .18rem;
}
.row-group-lvl-4 {
    background-color: var(--color-gray-100);
    font-weight: var(--font-weight-semibold);
    --spacing: .18rem;
}
.row-group-lvl-5 {
    background-color: var(--gray-50);
    font-weight: var(--font-weight-semibold);
    --spacing: .18rem;
}
.row-group-lvl-99 {
    --spacing: .18rem;
}

/* .fi-ta-cell,
.fi-input,
.fi-select-input,
.fi-ta-cell div {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    border-radius: 0% !important;
}

.flex {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    gap: 3px !important;

}

.fi-tabs {
    padding-top: 3px !important;
    padding-bottom: 3px !important;
}

.fi-header-heading {
    font-size: 1.5rem !important;
} */

:root {
    --radius-3xl: 1rem;
}

.fi-ta-header-ctn {
    --spacing: 0.18rem;
}

.fi-ta-header-heading {
    --spacing: 0.15rem;
}

.fi-ta-row {
    --spacing: 0.1rem;
}

.fi-ta-text {
    --spacing: 0.18rem;
}

.fi-ta-toggle {
    --spacing: 0.18rem;
}

.fi-ta-selection-cell {
    --spacing: 0.20rem;
}

.fi-ta-header-cell {
    --spacing: 0.18rem;
}

.fi-pagination {
    --spacing: 0.18rem;
}

.fi-modal-header {
    --spacing: 0.18rem;
}

.fi-modal-content {
    --spacing: 0.18rem;
}

.fi-modal-close-btn {
    /* --spacing: 0.18rem; */
    top: calc(var(--spacing) * 4);
}

.fi-fo-repeater-item-header {
    --spacing: 0.18rem;
}

.fi-fo-repeater-item-content {
    --spacing: 0.18rem;
}

/* .fi-fo-field {
    --spacing: 0.18rem;
}

.fi-btn {
    --spacing: 0.18rem;
}

.fi-sidebar {
    --spacing: 0.18rem;
}

.fi-topbar {
    --spacing: 0.20rem;
}

.fi-dropdown {
    --spacing: 0.25rem;
}

.fi-dropdown-panel {
    --spacing: 0.18rem;
} */

.fi-icon-btn {
    --spacing: 0.25rem;
}

.fi-icon {
    --spacing: 0.25rem;
}

.fi-ta-cell,
/* .fi-input, */
/* .fi-select-input, */
/* .fi-ta-toogle, */
.fi-ta-cell div {
    /* padding-top: calc(var(--spacing)*2) !important; */
    padding-bottom: calc(var(--spacing)*2) !important;
}